<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="utf-8">
<title>Delivery - Busqueda de especialista</title>
</head>
<body  class="light-header animsition body-scrolled"
	style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed;"   >
	<header th:replace="layout/layout :: header"></header>
	<main>
		
		
		<section>
			<h3>
				
			</h3>
			<div style="display:flex;">
			<div th:each="especialista : ${especialistas}" class="card" style="width: 18rem; margin:10px;">
			<img th:src="@{${especialista.foto} + ${especialista.id_especialista}+ '.jpg'}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title" >
			    	<a th:href="@{'/especialistas/' + ${especialista.nombres} + '-' + ${especialista.id_especialista} + '/p' }" >
			    		<span th:text="${especialista.nombres}">Nombre</span>
			    		<span th:text="${especialista.apellidos}">Apellido</span>
			    	</a>
			    </h5>
			    	
			    	<span><strong>Especialidad: </strong></span><span th:text="${especialista.especialidad.nombres}"></span>
			    	<span><strong>Celular: </strong></span><span th:text="${especialista.celular}"></span><br>
			    		
			    	<br><div style="text-align:center;"><button style="color:#FFFFFF ;background-color:#069012;"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">
					Ver mas
				</button></div>
			    		  			    
			  </div>
			</div>
		</div>

		</section>
		
			
		
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>