<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head(title)">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title th:replace="${title}">MediCenter -</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

</head>

<body class="light-header animsition body-scrolled"
	style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed;">

	<header th:fragment="header">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
			style="opacity: 0.8;">
			<a class="navbar-brand" href="#"><img
				src="https://i.imgur.com/7q5Cl5j.png" width="70" height="66"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<form th:action="@{/clinicas/search}" th:object="${clinica}"
				method="post" class="form-inline">
				<input th:field="*{nombrec}" class="form-control mr-sm-2"
					type="search" placeholder="Buscar por Clinica" aria-label="Search">
				<button style="margin-left: -7px"
					class="btn btn-outline-primary my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>

			<form style="margin-left: 12px" th:action="@{/especialistas/search}"
				th:object="${doctor}" method="post" class="form-inline">
				<input th:field="*{nombres}" class="form-control mr-sm-2"
					type="search" placeholder="Buscar por Especialista"
					aria-label="Search">
				<button style="margin-left: -7px"
					class="btn btn-outline-primary my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>

			<div style="margin-left: 50px" class="collapse navbar-collapse"
				id="navbarNavDropdown">
				<div class="navbar-nav">

					<a class="nav-link" href="/">Inicio</a> <a class="nav-link">Nosotros</a>
					<a class="nav-link" th:href="@{'/citas/miscitas/'}" sec:authorize="hasRole('ROLE_PATIENT')">Mis Citas</a> <a
						class="nav-link" th:href="@{'/clinicas/'}">Clinicas</a>
					<a style="margin-left: 370px;" class="nav-link"
						th:href="@{'/login'}" sec:authorize="isAnonymous()"> <i
						class="fas fa-user"> </i> Inicia Sesión / Registrate
					</a>
					
					<div style="margin-left: 370px; display: flex;" class="btn-group" sec:authorize="isAuthenticated()">
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span sec:authentication="name"></span></button>
						<div class="dropdown-menu" >
							<a class="dropdown-item" th:href="@{/perfil}">Ver Perfi</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a>
						</div>
					</div>


				</div>

			</div>


		</nav>
	</header>

	<main>
		<section>Hello Programmers</section>
	</main>

	<footer th:fragment="footer">

		<div class="row footer-bottom">


			<div class="col-md-6 text-right">
				<h6>
					<a href="#" style="color: #3b5998" target="_blank"><i
						class="icon ion-social-facebook"></i> FACEBOOK</a>
				</h6>
				<h6>
					<a href="#" style="color: #1da1f2"><i
						class="icon ion-social-twitter"></i> TWITTER</a>
				</h6>
				<h6>
					<a href="#" style="color: #393939"><i
						class="icon ion-social-instagram"></i> INSTAGRAM</a>
				</h6>
				<h6>
					<a href="#" style="color: #e62117"><i
						class="icon ion-social-youtube"></i> YOUTUBE</a>
				</h6>
			</div>
		</div>
		<!-- end footer-bottom -->

		<div class="row footer-bottom">
			<div class="col-md-12">
				<p style="color: #29358A;">
					<a href="politicas">Términos y Condiciones</a>
				</p>
			</div>
		</div>
		<!-- end footer-bottom -->

		<!-- end container -->


		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>
	<!-- Modal -->
</body>
</html>