<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head(title)">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title th:replace="${title}">MediCenter -</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

</head>

<body class="light-header animsition body-scrolled"
	style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed; width=100%">

	<header th:fragment="header">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
			style="opacity: 0.7;z-index: 9999; width=100%;">
			<a class="navbar-brand" href="#"><img
				src="https://i.imgur.com/7q5Cl5j.png" width="70" height="66"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			
			<div style="margin-left: 50px" class="collapse navbar-collapse"
				id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active" ><a class="nav-link">Inicio
							<span class="sr-only"></span>
					</a></li>
					<li class="nav-item" ><a class="nav-link">Nosotros</a></li>


					<li class="nav-item"><a class="nav-link"
						th:href="@{'/clinicas/allclinicas/'}">Clinicas</a></li>
<!-- 					<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Cerrar -->
<!-- 							Sesion</a></li> -->

				</ul>
</div>
				

			<form th:action="@{/clinicas/search}" th:object="${clinica}"
				method="post" class="form-inline">
				<input th:field="*{nombrec}" class="form-control mr-sm-2"
					type="search" placeholder="Buscar por Clinica" aria-label="Search" size="20%">
				<button style="margin-left: -7px"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
<!-- 			Buscar por especialista -->
			<form style="margin-left: 12px;padding-right:10px" th:action="@{/especialistas/search}"
				th:object="${doctor}" method="post" class="form-inline" >
				<input th:field="*{nombres}" class="form-control mr-sm-2"
					type="search" placeholder="Buscar por Especialista"
					aria-label="Search">
				<button style="margin-left: -7px"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
			
			
			<form 
				method="post" class="form-inline" sec:authorize="hasRole('ROLE_PATIENT')">
				<input  class="form-control mr-sm-2"
					type="search" placeholder="Buscar por especialidad" aria-label="Search">
				<button style="margin-left: -7px"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
			
		
			
			
<!-- 			Buscar por paciente -->
			<form th:action="" th:object=""
				method="post" class="form-inline" sec:authorize="hasRole('ROLE_ESPECIALIST')">
				<input th:field="" class="form-control mr-sm-2"
					type="search" placeholder="Buscar por Paciente" aria-label="Search">
				<button style="margin-left: -7px"
					class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
			
			
			
 <div class="nav-item dropdown" sec:authorize="isAuthenticated()" style="padding:10px" >
        <a class="nav-link dropdown-toggle  btn btn-outline-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span sec:authentication="name"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #000000; opacity: 0.7">
          <a class="dropdown-item"  style="color: #FFFFFF" th:href="@{/perfil}">Mi perfil</a>
          <a class="dropdown-item" style="color: #FFFFFF" th:href="@{/logout}"><strong>Cerrar Sesión</strong></a>
          
        </div>
     </div>
  
  
    <div >   
  
   <a class="btn btn-outline-success" th:href="@{/login}" sec:authorize="isAnonymous()">Iniciar sesion<br></a>
  </div>
  
  <div class="nav-item dropdown" sec:authorize="isAnonymous()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <strong><button class="btn btn-outline-success" type="button" >Registrarse<br></button></strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #000000; opacity: 0.7">
          <a class="dropdown-item" href="/RegistroPaciente" style="color: #FFFFFF"><img th:src="@{https://i.imgur.com/ECDm4tb.png}" width="20" height="20" style="opacity: none"><strong>Paciente</strong></a>
          <a class="dropdown-item" href="#" style="color: #FFFFFF"><img th:src="@{https://i.imgur.com/gHAQwgr.png}" width="20" height="20"><strong>Especialista</strong></a>
          
        </div>
     </div>
   
		</nav>
	</header>

	<main>
		<section>
		
		
	
		
		</section>
	</main>

	<footer class="page-footer font-small blue pt-4"  style="background-color:#0A0222;opacity: 0.7">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="color:#2FB006">Acerca de Nosotros</h5><br>
        <p style="color: #FFFFFF"><img src="https://i.imgur.com/XY2eBOT.png" width="20" height="20">www.medicenter.com</p>
        <p style="color: #FFFFFF"><img src="https://i.imgur.com/iHTKgWq.png" width="20" height="20">medicenter@gmail.com</p>

       

      </div>
      <!-- Grid column -->
      
      

      <hr class="clearfix w-100 d-md-none pb-3">



      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:#2FB006">Especialidades</h5>

        <ul class="list-unstyled">
          <li style="color: #FFFFFF">
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Neurologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Pediatria</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Ginecologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Cardiologia</button></a>
          </li >
          <li style="color: #FFFFFF">
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Cirugia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Traumatologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Odontologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Medicina General</button></a>
            
          </li >
          <li style="color: #FFFFFF">
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Oncologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Urologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Podologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Infectologia</button></a>
          </li >
          <li style="color: #FFFFFF">
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Nutricion</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Fisioterapia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Psicologia</button></a>
            <a href="#!"><button class="btn btn-sm btn-outline-secondary" type="button">Oftamologia</button></a>
          </li >
        </ul>
        
        

      </div>
      <!-- Grid column -->
      
      

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:#2FB006">Contacto</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/MedicenterCL" target="_blank"><img  src="https://i.imgur.com/nHiXPR7.png" width="25" height="25"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/medicenter/" target="_blank"><img  src="https://i.imgur.com/koP0xez.png" width="25" height="25"></a>
          </li>
          <li>
            <a href="#!"><img  src="https://i.imgur.com/Vqzqrsr.png" width="25" height="25"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #FFFFFF">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MediCenter.com</a>
  </div>
  <!-- Copyright -->

</footer>
	<!-- Modal -->
</body>
</html>