<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>MediCenter - Citas</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">
	<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{'/'}"> Inicio</a></li>
					<li class="breadcrumb-item" ><a th:href="@{'/clinicas/allclinicas/'}"> Clinica </a> </li>
					<li class="breadcrumb-item" aria-current="page" th:text="${citaRegistrada.especialista.clinica.nombrec}">
					<a ></a>
					</li>
					<li class="breadcrumb-item">
					<a th:href="@{'/clinicas/' + ${citaRegistrada.especialista.clinica.nombrec} + '-' + ${citaRegistrada.especialista.clinica.idC} + '/p' }">Reserva de Cita</a></li>
					<li class="breadcrumb-item active">Resumen</li>
				</ol>
			</nav>
	<div style="display: flex;margin-top: 10px;">
				<div class="card" align="center" style="width: 50%;">
					<h5 class="card-header" >CLINICA</h5>
					<div class="card-body">
						<img style="margin-top: 50px"
							th:src="@{${citaRegistrada.especialista.clinica.imagen} + ${citaRegistrada.especialista.clinica.idC} + '.jpg'}"
							class="card-img-top" alt="...">
						<h5></h5>
						<h3 class="card-title" th:text="${citaRegistrada.especialista.clinica.nombrec}"></h3>
						
						<h5 class="card-subtitle mb-2 text-muted" style="margin-top: 20px"> Ubicacion:
							<span style="margin-left: 20px"
								th:text="${citaRegistrada.especialista.clinica.ubicacion}+' - '+${citaRegistrada.especialista.clinica.distrito.nombre}+' - '+${citaRegistrada.especialista.clinica.distrito.provincia}"></span>
						</h5>
						
						<h5 style="margin-top: 30px" class="card-header" >ESPECIALISTA</h5>
						<img style="margin-top: 50px; width: 250px;height: 300px;" 
							th:src="@{${citaRegistrada.especialista.foto} + ${citaRegistrada.especialista.id_especialista} + '.jpg'}"
							class="card-img-top" alt="...">
						<h3 class="card-title" style="margin-top: 20px"  th:text="${citaRegistrada.especialista.nombres}+'  '+${citaRegistrada.especialista.apellidos}"></h3>
						<h5 class="card-subtitle mb-2 text-muted" align="left" style="margin-top: 1px"> Especialidad:
						<span style="margin-left: 15px" th:text="${citaRegistrada.especialista.especialidad.nombre}"></span>
						</h5>
						<h5 class="card-subtitle mb-2 text-muted" align="left" style="margin-top: 1px;">Tiempo de Experiencia:
						<span th:text="${citaRegistrada.especialista.tiempo_experiencia}+' años'"></span>
						</h5>
						
						<h5 class="card-subtitle mb-2 text-muted" align="left" style="margin-top: 1px;">Email: 
						<span th:text="${citaRegistrada.especialista.email}"></span>
						</h5>
					
					</div>

				</div>
				<div class="card" align="center" style="width: 50%;">
					<h5 class="card-header" >Detalles</h5>
					<div class="card-body">
						
						<p class="card-text">
							TIPO DE CONSULTA: 
						</p>
						<h6> <span th:text="${citaRegistrada.tipo_cita}"></span>
						</h6>
						<p class="card-date">
							FECHA: <span ></span>
						</p>
						<h6> <span  th:text="${detalleCita.fecha}"></span></h6>
						<p class="card-text">
							HORA: <span ></span>
						</p>
						<h6> <span  th:text="${detalleCita.hora}"></span></h6>
						<p class="card-text">
							PRECIO: <span ></span>
						</p>
						<h6> <span th:text="${citaRegistrada.precio}"></span></h6>
					</div>

				</div>
			</div>
	</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>

