<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>Delivery - Result Search</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<section class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{'/'}"> Inicio</a></li>
					<li class="breadcrumb-item active">Clinica</li>
				</ol>
			</nav>
			
			<div align="center" class="form-group">
			<label>BUSQUEDA POR DISTRITO</label>
				<div class="btn-group">
					<form style="margin-left: 12px" th:action="@{/clinicas/pordistrito}"
					th:object="${distrito}" method="post" class="form-inline">
					<input th:field="*{nombre}" type="search" class="form-control"
						data-toggle="dropdown" aria-label="Search"
						placeholder="Seleccione Distrito" list="lista_distritos">

					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
						<i class="fas fa-search"></i>
					</button>

					<datalist id="lista_distritos">
						<option th:each="distrito : ${distritos}"
							th:text="${distrito.nombre} +' - '+${distrito.provincia}" th:value="${distrito.nombre}">
					</datalist>
					</form>
				</div>
			</div>

			<div id="carouselExampleCaptions" class="carousel slide"
				data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleCaptions" data-slide-to="0"
						class="active"></li>
					<li th:each="clinica : ${allClinicas}"
						data-target="#carouselExampleCaptions" data-slide-to="clinica.idC"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img th:src="@{${clinicauno.imagen} + ${clinicauno.idC} + '.jpg'}"
							class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block bg-dark mb-4">
							<h3>
								<a th:href="@{'/clinicas/' + ${clinicauno.nombrec} + '-' + ${clinicauno.idC} + '/p'}">
									   <span th:text="${clinicauno.nombrec}"></span>
								</a>
							</h3>
							<h6>
								Ubicacion: <span style="margin-left: 12px"
									th:text="${clinicauno.ubicacion}+' - '+${clinicauno.distrito.nombre}+' - '+${clinicauno.distrito.provincia}"></span>
							</h6>
							<h6>
								Horario: <span style="margin-left: 12px"
									th:text="${clinicauno.horario}"></span>
							</h6>
							<a style="display: compact;"
								th:href="@{'/clinicas/' + ${clinicauno.nombrec} + '-' + ${clinicauno.idC} + '/p'}"
								class="btn btn-primary">Reserva tu Cita</a>
						</div>
					</div>
					<div th:each="clinica : ${allClinicas}" class="carousel-item">
						<img th:src="@{${clinica.imagen} + ${clinica.idC} + '.jpg'}"
							class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block bg-dark mb-4">
							<h3>
								<a
									th:href="@{'/clinicas/' + ${clinica.nombrec} + '-' + ${clinica.idC} + '/p' }">
									<span th:text="${clinica.nombrec}"></span>
								</a>
							</h3>
							<h6>
								Ubicacion: <span style="margin-left: 12px"
									th:text="${clinica.ubicacion}+' - '+${clinica.distrito.nombre}+' - '+${clinica.distrito.provincia}"></span>
							</h6>
							<h6>
								Horario: <span style="margin-left: 12px"
									th:text="${clinica.horario}"></span>
							</h6>
							<a style="display: compact;"
								th:href="@{'/clinicas/' + ${clinica.nombrec} + '-' + ${clinica.idC} + '/p' }"
								class="btn btn-primary">Reserva tu Cita</a>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleCaptions"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleCaptions"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>




		</section>
	</main>
	<div style="margin-top: 230px;">
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
</body>
</html>