<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="utf-8">
<title>Busquedad especialidad</title>
</head>
<body  class="light-header animsition body-scrolled"
	style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed;"   >
	<header th:replace="layout/layout :: header"></header>
	
	
	<div style="display:flex;">
			<div th:each="especialidad : ${especialidades}" class="card" style="width: 18rem; margin:10px;">
<!-- 			<img th:src="@{${especialista.foto} + ${especialista.id_especialista}+ '.jpg'}" class="card-img-top" alt="..."> -->
			  <div class="card-body">
			    <h5 class="card-title" >
			    	<a th:href="@{'/especialidad/' + ${especialidad.nombre} + '-' + ${especialidad.Id_Especialista} + '/p' }" >
			    		<span th:text="${especialidad.nombre}"></span>
			    	</a>
			    </h5>			    
			  </div>
			</div>
		</div>
    

</body>
</html>