<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/solid.min.css}">

    <title>Hello, world!</title>
  </head>
  <body  class="light-header animsition body-scrolled" style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed;">
    
    
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="opacity: 0.7;"   >
  <a class="navbar-brand" href="#"><img src="https://i.imgur.com/7q5Cl5j.png" width="70" height="66"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Tips de Salud</a>
          <a class="dropdown-item" href="#">Sugerencias</a>
          <a class="dropdown-item" href="#">Testimonios</a>
          <a class="dropdown-item" href="#">¿Como usar?</a>
        
        </div>
      </li>
    </ul>
    
     <div style="margin-left:380px;">
                                <li class="dropdown dropdown_login">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                                            <span class="item" style="color:#BDA51A;"><img src="https://i.imgur.com/gHAQwgr.png" width="40" height="40"><u>Soy doctor</u></span> </a>
                                                        
                                        <ul class="dropdown-menu" style="background-color:#898181; opacity:1.5;">
                                            <li style="margin:0px 25px" class="login_form">
                                                <div class="text-primary top_margin bottom_margin">
                                                    <span class="h4 font_Conv_Roboto-Regular" style="color:#29358A">Mi zona privada</span></div>
                                                <div class="item text-nowrap">
                                                    <form method="post" action="#" class="header_login_form">
                                                        
                                                        <div class="login_message"></div>
    Nombre de usuario o e-mail                                                        <input class="form-control bottom_margin bg_medium" name="email_login" value="" type="text">
    Contraseña                                                        <input class="form-control bottom_margin bg_medium" name="password_login" type="password" value="">
                                                            <a href="#" class="center-block text-right no_padding bottom_margin remind_pass"style="color:#29358A"><strong>¿Ha olvidado la contraseña?</strong></a>
                                                        <div class="login_loading"></div>
                                                        <div class="dark_border bottom_margin rounded_border">
                                                                <button type="submit" class="btn btn_wd btn-block btn_light" >
                                                                <span class="h4">Acceder</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                        
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                  </div>
                                    <!-- Patients -->
                                 <div style="margin-left:0px;">
                                <li class="dropdown dropdown_login">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                                            <span class="item" style="color:#BDA51A;"><img src="https://i.imgur.com/ECDm4tb.png" width="40" height="40"><u>Soy paciente</u></span> </a>
                                                        
                                        <ul class="dropdown-menu" style="background-color:#898181; opacity:1.5;">
                                            <li style="margin:0px 25px" class="login_form">
                                                <div class="text-primary top_margin bottom_margin">
                                                    <span class="h4 font_Conv_Roboto-Regular" style="color:#29358A">Mi zona privada</span></div>
                                                <div class="item text-nowrap">
                                                    <form method="post" action="#" class="header_login_form">
                                                        
                                                        <div class="login_message"></div>
    Nombre de usuario o e-mail                                                        <input class="form-control bottom_margin bg_medium" name="email_login" value="" type="text">
    Contraseña                                                        <input class="form-control bottom_margin bg_medium" name="password_login" type="password" value="">
                                                            <a href="#" class="center-block text-right no_padding bottom_margin remind_pass"style="color:#29358A"><strong>¿Ha olvidado la contraseña?</strong></a>
                                                        <div class="login_loading"></div>
                                                        <div class="dark_border bottom_margin rounded_border">
                                                                <button type="submit" class="btn btn_wd btn-block btn_light" >
                                                                <span class="h4">Acceder</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                        
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                  </div>
                                    <!-- Pacientes -->
    
  </div>
</nav>
    
                                        

 <div style="margin:250px; margin-left: 500px; font-size:20px;">
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Especialidad/Enfermedad" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" placeholder="Ubicación" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-2" type="submit" style="align-content: center;"><strong>Buscar</strong></button>
    </form></div>
    

                             <div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0">
                        <h6 class="mtn">SUSCRÍBETE</h6>
                        <form id="frmnewsletter" method="post">
                            <div id="nl_respuesta" style="color: red;"></div>
                            <div class="input-group">
                                <input type="email" class="form-control inp-rounded" name="suscriptor" id="suscriptor" placeholder="Correo Electrónico">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn se-btn btn-dark" name="nl_enviar" id="nl_enviar" style="opacity: 0.7;">Enviar!</button>
                                </span> <!-- end input-group-btn -->
                            </div><!-- end input-group -->
                        </form>
                        <p class="text-center text-muted"><b>Entérate de las novedades</b></p>
                    </div>
                </div> <!-- end row -->

                <div class="row footer-bottom">
                    

                    <div class="col-md-6 text-right">
                        <h6><a href="#" style="color: #3b5998" target="_blank"><i class="icon ion-social-facebook"></i> FACEBOOK</a></h6>
                        <h6><a href="#" style="color: #1da1f2"><i class="icon ion-social-twitter"></i> TWITTER</a></h6>
                        <h6><a href="#" style="color: #393939"><i class="icon ion-social-instagram"></i> INSTAGRAM</a></h6>
                        <h6><a href="#" style="color: #e62117"><i class="icon ion-social-youtube"></i> YOUTUBE</a></h6>
                    </div>
                </div> <!-- end footer-bottom -->

                <div class="row footer-bottom">
                    <div class="col-md-12">
                        <p style="color:#29358A;"><a href="politicas">Términos y Condiciones</a></p>
                    </div>
                </div> <!-- end footer-bottom -->
            </div> <!-- end container -->
        </footer>
        <!-- Modal -->
  
    
    
    
    

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/fontawesome.min.js}"></script>
   
  </body>
</html>