<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<meta charset="utf-8">
<title>Delivery - Recomendar especialista</title>
</head>
<body  class="light-header animsition body-scrolled"
	style="background-image: url(https://i.imgur.com/mTyJtXq.jpg); background-repeat: no-repeat; background-size: cover; min-height: 100vh; background-attachment: fixed;"   >
	<header th:replace="layout/layout :: header"></header>
	<main>
	<section class="container">
			<h3 style="margin-top: 40px">
				Especialistas : <span th:text="${especialista.nombres}"></span>
			</h3>
			
			 <div style="display:flex;margin-top: 35px">
			<div th:each="especialista : ${especialistas}" class="card" style="width: 18rem; margin:10px;">

			  <div class="card-body">
			   <img th:src="@{${especialista.foto} + ${especialista.id_especialista}+ '.jpg'}" class="card-img-top" alt="...">
			    <h5 class="card-title text-center" th:text="${especialista.nombres}"></h5>
						<h6 class="card-subtitle mb-2 text-muted" th:text="'TIEMPO DE EXPERIENCIA:'"></h6>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text= "${especialista.tiempo_experiencia} "></h6>
						<h6 class="card-subtitle mb-2 text-muted" th:text="'EMAIL:'"></h6>	
						<h6 class="card-subtitle mb-2 text-muted"
			
							th:text= "${especialista.email}"></h6>
							
						<button type="button" class="btn btn-outline-info">Recomendar Especialista</button>
						
			    	<a th:href="@{'/pacientes/' + ${especialista.nombres} + '-' + ${especialista.id_especialista} + '/p' }" >
			    		<span th:text="'Historial del especialista ' + ${especialista.nombres}"></span>
			    		</a>
			    			  
			  </div>
			</div>
		</div>
			</section>
	</main>
	<div style="margin-top: 230px;">
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
</body>
</html>