<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(~{::title})">
<title>MediCenter - Login</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<section class="container">


		<div class="card mt-5" >
			<div class="card-header "><h5> <i class="fas fa-address-card"></i> Perfil</h5></div>
			<div class="card-body ">
				<h5 class="card-title">Detalles del Usuario</h5>
				<p class="card-text">Username: <span sec:authentication="name">Juan</span> </p>
				<p class="card-text">Authorities: <span sec:authentication="principal.authorities">[ROLE_]</span> </p>
				<h5 class="card-title">Detalles del Principal  </h5>
				<p class="card-text">
					Segmento: <span th:text="${#authentication.getPrincipal().getSegmento()}"></span> 
				</p>
				<p class="card-text">
					Id del Segmento: <span th:text="${#authentication.getPrincipal().getIdSegmento()}"></span> 
				</p>
				
				<div th:switch="${segmento}">					
					<div th:case="'PACIENTE'">
						<h5 class="card-title">Detalles del PACIENTE</h5>
						<p class="card-text">
							Apellidos y Nombres: 
							<span th:text="${paciente.apellidos}"></span>, <span th:text="${paciente.nombres}"></span>
						</p>
						<p class="card-text">
							Dirección: <span th:text="${paciente.direccion}"></span> 
						</p>
						<p class="card-text">
							Distrito: <span th:text="${paciente.distrito.nombre}"></span> 
						</p>
						<p class="card-text">
							Celular: <span th:text="${paciente.celular}"></span> 
						</p>
						
					</div>
					<div th:case="'ESPECIALISTA'">
						<h5 class="card-title">Detalles del ESPECIALISTA </h5>
						<p class="card-text">
							Nombre: <span th:text="${especialista.nombres}"></span>
						</p>
						<p class="card-text">
							Dirección: <span th:text="${especialista.direccion}"></span> 
						</p>
						<p class="card-text">
							Distrito: <span th:text="${especialista.distrito.nombre}"></span> 
						</p>
						<p class="card-text">
							Email: <span th:text="${especialista.email}"></span> 
						</p>
						<p class="card-text">
							Celular: <span th:text="${especialista.celular}"></span> 
						</p>
					</div>
				</div>
				
			</div>
		</div>
			
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>

